.free {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.free h1 {
    grid-column: 1/3;
}
.free h2{
    margin-bottom: 30px;
}

.free-description {
    width: 389px;
    margin-right: 100px;
}

.free-description p {
    font-size: 18px;
    line-height: 22px;
}